{% include "navbar.html" %}

  <h1>Friend Recommendations</h1>
  <p>Here are some users you might want to add as friends:</p>
  <table>
    <thead>
      <tr>
        <th>Email</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
          <td>{{ user }}</td>
          <td>
            <form action="{{ url_for('friendRecs') }}" method="POST">
              <input type="hidden" name="friend_email" value="{{ user }}">
              <button type="submit">Add</button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>