<!doctype html>
{% if message %}
  <h4>{{message}}!</h4>
{% endif %}
<title>Photoshare</title>
{% if name %}
  <h1>Hello {{ name }}!</h1>
{% endif %}

{% if photos %}
<h2>Here are your photos</h2>
    <ul>
    {% for photo in photos %}

        <li>{{photo[2]}}<br>
        <img src='data:image/jpg;base64, {{ base64.b64encode(photo[0]).decode("ascii") }}'/></li>
    {% endfor %}
    </ul>
{% endif %}

{% if message is none %}
  <p>You should <a href='/login'>login!</a></p>
{% else %}
  <p> Go to <a href='/profile'>profile?</a></p>
  <!-- <form action="{{ url_for('add_album') }}" method="post">
    <label for="addAlbum">Make an album:</label>
    <input type="text" name="addAlbum"/><br />
    <input type="submit" />
  </form> -->
  <a href="/userAlbums">Your Albums</a>
  <a href='/friends'>Friends</a>
{% endif %}

<ul>
<li><a href='/upload'>Upload a photo</a> </li>
<li><a href='/logout'>Logout</a></li>
<li><a href='/'>Home</a></li>
</ul>

<a href='/albums'>Browse Albums</a>
<a href='/leaderboard'>Leaderboard</a>