<!DOCTYPE html>
{% include "navbar.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <h2>All photos - {{tag}}</h2>
        {% if cansee %}
            <a href="{{tag}}/yours/"><h5>Your Photos</h5></a>
        {% endif %}
        <ul>
            {% for photo in photos %}
            <li>
                <a href="/albums/photo/{{ photo[1] }}"><img src='data:image/jpg;base64, {{ base64.b64encode(photo[0]).decode("ascii") }}'/></a><br>
                {{photo[2]}}
            </li><br>
            {% endfor %}

</body>
</html>