<!-- author ben lawson (balawson@bu.edu) -->
<head>
    <title>Upload a photo!</title>
    <script src="/utils/script.js" defer></script>
</head>
    <body>
        <div class="title">
            <h1>Upload a photo to Photoshare</h1>
        </div>
            <form method="post" enctype="multipart/form-data" action="/upload">
                <label for="photo">Select photo:</label>
                <input type="file" name="photo" required='true' /><br />
                <label for="caption">Please type a caption:</label>
                <input type="text" name="caption" required='true' /><br />
                <select name="album" required="true">
                    <option value="">Select an album</option>
                    {% for album in albums %}
                    <option value="{{album}}">{{album}}</option>
                    {% endfor %}
                </select>
                <div id="tag-input">
                    <label for="tag">Tags:</label>
                </div>
                <button type="button" onclick="addTagInput()">Add Tag</button><br>
                <input type="submit" value="Upload" />
            </form>
    </body>
