<!DOCTYPE html>
{% include "navbar.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{{ url_for('add_album') }}" method="post">
        <label for="albumname">Make an album:</label>
        <input type="text" name="albumname"/><br />
        <button type="submit">Add</button>
      </form>
      

      <a href="{{ url_for('modifyAlbums') }}">Modify Albums</a>
      
      <h2>Here are your Albums</h2>
    <ul>
        {% for album,id in albums %}
        <li><a href="albums/{{ id }}">{{ album }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>