<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{{ url_for('add_album') }}" method="post">
        <label for="addAlbum">Make an album:</label>
        <input type="text" name="addAlbum"/><br />
        <input type="submit" />
      </form>

      <h2>Here are your Albums</h2>
    <ul>
        {% for album in albums %}
        <li>{{ album }}<br>
        <a href=""></a></li>
        {% endfor %}
    </ul>
</body>
</html>